# SYSTEM
#
NET "CLK16"		LOC = "P56"	| IOSTANDARD = LVCMOS33;
NET "CLK16" TNM_NET = "CLK16";
TIMESPEC "TS_CLK16" = PERIOD "CLK16" 62.5ns HIGH 50%;

###########################################################################

# SCART
#
NET "SCART_CSYNC"	LOC = "P52"	| IOSTANDARD = LVCMOS33;
NET "SCART_R[1]"	LOC = "P55"	| IOSTANDARD = LVCMOS33;
NET "SCART_R[0]"	LOC = "P53"	| IOSTANDARD = LVCMOS33;
NET "SCART_G[1]"	LOC = "P59"	| IOSTANDARD = LVCMOS33;
NET "SCART_G[0]"	LOC = "P57"	| IOSTANDARD = LVCMOS33;
NET "SCART_B[1]"	LOC = "P63"	| IOSTANDARD = LVCMOS33;
NET "SCART_B[0]"	LOC = "P60"	| IOSTANDARD = LVCMOS33;
NET "SCART_AUDIO_LEFT"	LOC = "P68"	| IOSTANDARD = LVCMOS33;
NET "SCART_AUDIO_RIGHT"	LOC = "P69"	| IOSTANDARD = LVCMOS33;

###########################################################################

# SRAM
#
NET "SRAM_ADDRESS[0]"	LOC = "P24"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[1]"	LOC = "P23"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[2]"	LOC = "P21"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[3]"	LOC = "P20"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[4]"	LOC = "P18"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[5]"	LOC = "P17"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[6]"	LOC = "P15"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[7]"	LOC = "P14"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[8]"	LOC = "P4"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[9]"	LOC = "P2"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[10]"	LOC = "P35"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[11]"	LOC = "P1"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[12]"	LOC = "P13"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[13]"	LOC = "P5"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[14]"	LOC = "P12"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[15]"	LOC = "P8"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[16]"	LOC = "P11"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[17]"	LOC = "P7"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[18]"	LOC = "P10"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[0]"	LOC = "P25"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[1]"	LOC = "P26"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[2]"	LOC = "P27"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[3]"	LOC = "P28"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[4]"	LOC = "P30"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[5]"	LOC = "P31"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[6]"	LOC = "P32"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[7]"	LOC = "P33"	| IOSTANDARD = LVCMOS33;
NET "SRAM_OE"		LOC = "P36"	| IOSTANDARD = LVCMOS33;
NET "SRAM_WE"		LOC = "P6"	| IOSTANDARD = LVCMOS33;

###########################################################################

# TAPE / KEYBOARD / JOYSTICK
#
#NET "CASIN"		LOC = "P131"	| IOSTANDARD = LVCMOS33;

NET "PS2_CLOCK"		LOC = "P46"	| IOSTANDARD = LVCMOS33;
NET "PS2_DATA"		LOC = "P44"	| IOSTANDARD = LVCMOS33;

#NET "JOY0_DOWN"	LOC = "P118"	| IOSTANDARD = LVCMOS33;
#NET "JOY0_FIRE1"	LOC = "P116"	| IOSTANDARD = LVCMOS33;
#NET "JOY0_FIRE2"	LOC = "P119"	| IOSTANDARD = LVCMOS33;
#NET "JOY0_LEFT"	LOC = "P113"	| IOSTANDARD = LVCMOS33;
#NET "JOY0_RIGHT"	LOC = "P112"	| IOSTANDARD = LVCMOS33;
#NET "JOY0_UP"		LOC = "P122"	| IOSTANDARD = LVCMOS33;

#NET "JOY1_DOWN"	LOC = "P105"	| IOSTANDARD = LVCMOS33;
#NET "JOY1_FIRE1"	LOC = "P104"	| IOSTANDARD = LVCMOS33;
#NET "JOY1_FIRE2"	LOC = "P107"	| IOSTANDARD = LVCMOS33;
#NET "JOY1_LEFT"	LOC = "P103"	| IOSTANDARD = LVCMOS33;
#NET "JOY1_RIGHT"	LOC = "P102"	| IOSTANDARD = LVCMOS33;
#NET "JOY1_UP"		LOC = "P108"	| IOSTANDARD = LVCMOS33;

###########################################################################

# FLASH
#
NET "FL_DI"		LOC = "P79"	| IOSTANDARD = LVCMOS33;
NET "FL_DO"		LOC = "P73"	| IOSTANDARD = LVCMOS33;
NET "FL_HOLD"		LOC = "P82"	| IOSTANDARD = LVCMOS33;
NET "FL_SCLK"		LOC = "P80"	| IOSTANDARD = LVCMOS33;
NET "FL_SEL"		LOC = "P70"	| IOSTANDARD = LVCMOS33;
NET "FL_WP"		LOC = "P78"	| IOSTANDARD = LVCMOS33;

###########################################################################

# EXPANSION
#
#NET "EXP_A"		LOC = "P47"	| IOSTANDARD = LVCMOS33;
#NET "EXP_B"		LOC = "P50"	| IOSTANDARD = LVCMOS33;
#NET "EXP_C"		LOC = "P51"	| IOSTANDARD = LVCMOS33;

#NET "AT_CLKO"		LOC = "P124"	| IOSTANDARD = LVCMOS33;
#NET "EXTCLK"		LOC = "P100"	| IOSTANDARD = LVCMOS33;

#NET "GPIO_PIN3"	LOC = "P137"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN4"	LOC = "P135"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN5"	LOC = "P132"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN6"	LOC = "P130"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN7"	LOC = "P129"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN8"	LOC = "P127"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN9"	LOC = "P128"	| IOSTANDARD = LVCMOS33;
#NET "GPIO_PIN10"	LOC = "P123"	| IOSTANDARD = LVCMOS33;

NET "LEDS(0)"		LOC = "P87"	| IOSTANDARD = LVCMOS33;
NET "LEDS(1)"		LOC = "P86"	| IOSTANDARD = LVCMOS33;
NET "LEDS(2)"		LOC = "P85"	| IOSTANDARD = LVCMOS33;
NET "LEDS(3)"		LOC = "P84"	| IOSTANDARD = LVCMOS33;
#NET "LEDS(4)"		LOC = "P83"	| IOSTANDARD = LVCMOS33;

#NET "NRESET"		LOC = "P83"	| IOSTANDARD = LVCMOS33;

#NET "HDR_MISO"		LOC = "P85"	| IOSTANDARD = LVCMOS33;
#NET "HDR_MOSI"		LOC = "P83"	| IOSTANDARD = LVCMOS33;
#NET "HDR_SCLK"		LOC = "P84"	| IOSTANDARD = LVCMOS33;
#NET "HDR_SEL"		LOC = "P86"	| IOSTANDARD = LVCMOS33;
#NET "HDR_SPARE"		LOC = "P87"	| IOSTANDARD = LVCMOS33;

#NET "PC2"		LOC = "P98"	| IOSTANDARD = LVCMOS33;
#NET "PC4"		LOC = "P99"	| IOSTANDARD = LVCMOS33;
#NET "PC5"		LOC = "P125"	| IOSTANDARD = LVCMOS33;
#NET "PD0"		LOC = "P97"	| IOSTANDARD = LVCMOS33;
#NET "PD1"		LOC = "P96"	| IOSTANDARD = LVCMOS33;
#NET "PD2"		LOC = "P95"	| IOSTANDARD = LVCMOS33;
#NET "PD3"		LOC = "P93"	| IOSTANDARD = LVCMOS33;
#NET "PD4"		LOC = "P92"	| IOSTANDARD = LVCMOS33;
#NET "PD5"		LOC = "P90"	| IOSTANDARD = LVCMOS33;
#NET "PD6"		LOC = "P89"	| IOSTANDARD = LVCMOS33;

#NET "SD_CLK"		LOC = "P41"	| IOSTANDARD = LVCMOS33;
#NET "SD_CS"		LOC = "P141"	| IOSTANDARD = LVCMOS33;
#NET "SD_DI"		LOC = "P140"	| IOSTANDARD = LVCMOS33;
#NET "SD_DO"		LOC = "P40"	| IOSTANDARD = LVCMOS33;

NET "TXD"		LOC = "P95"	| IOSTANDARD = LVCMOS33;	# RXD(atmega)=PD2=95 => TXD(fpga)
NET "RXD"		LOC = "P93"	| IOSTANDARD = LVCMOS33;	# TXD(atmega)=PD3=93 => RXD(fpga)
#NET "RXD"		LOC = "P76"	| IOSTANDARD = LVCMOS33;
#NET "TXD"		LOC = "P77"	| IOSTANDARD = LVCMOS33;

#NET "X3"		LOC = "P76"	| IOSTANDARD = LVCMOS33;
#NET "X4"		LOC = "P77"	| IOSTANDARD = LVCMOS33;
#NET "X8"		LOC = "P74"	| IOSTANDARD = LVCMOS33;

####################################################################################

#exp_a p47
#exp_b p50
#tape_in p131

#sd_do p40
#sd_clk p41
#sd_di p140
#sd_cs p141

#joy0fire1 p116
#joy0fire2 p119
#joy0left  p113
#joy0right p112
#joy0up	   p122
#joy0down  p118

#joy1fire1 p104
#joy1fire2 p107
#joy1left  p103
#joy1right p102
#joy1up	   p108
#joy1down  p105

#sv2p5 p76
#sv2p3 p77
#sv2p1 p74

#hdr_mosi p83
#hdr_miso p85
#hdr_sel p86
#hdr_spare p87
#hdr_sclk p84

#audio_r p69
#audio_l p68
#clk16 p56



#ce is gnd
#exp_c p51

#fl_do p73
#fl_wp p78
#fl_di p79
#fl_sclk p80
#fl_hold p82
#fl_sel p70

#gpio_1 gnd
#gpio_2 3.3v
#gpio_3 p137
#gpio_4 p135
#gpio_5 p132
#gpio_6 p130
#gpio_7 p129
#gpio_8 p127
#gpio_9 p128
#gpio_10 p123

#at_clk0 p124
#extclk p100
#pc5 p125
#pc4 p99
#pc2 p98

#pd0 p97
#pd1 p96
#pd2 p95
#pd3 p93
#pd4 p92
#pd5 p90
#pd6 p89
