
NET "clk16" LOC = P56;
NET "clk16" IOSTANDARD = LVCMOS33;

NET "SCART_CSYNC" LOC = "P52" | IOSTANDARD = LVCMOS33;
NET "SCART_R[1]" LOC = "P55" | IOSTANDARD = LVCMOS33;
NET "SCART_R[0]" LOC = "P53" | IOSTANDARD = LVCMOS33;
NET "SCART_G[1]" LOC = "P59" | IOSTANDARD = LVCMOS33;
NET "SCART_G[0]" LOC = "P57" | IOSTANDARD = LVCMOS33;
NET "SCART_B[1]" LOC = "P63" | IOSTANDARD = LVCMOS33;
NET "SCART_B[0]" LOC = "P60" | IOSTANDARD = LVCMOS33;
#NET "SCART_AUDIO_LEFT" LOC = "P68" | IOSTANDARD = LVCMOS33;
#NET "SCART_AUDIO_RIGHT" LOC = "P69" | IOSTANDARD = LVCMOS33;

#hdr_mosi p83
#hdr_miso p85
#hdr_sel p86
#hdr_spare p87
#hdr_sclk p84

NET "hdr_mosi" LOC = P83;
NET "hdr_mosi" IOSTANDARD = LVCMOS33;

NET "hdr_miso" LOC = P85;
NET "hdr_miso" IOSTANDARD = LVCMOS33;

NET "hdr_sel" LOC = P86;
NET "hdr_sel" IOSTANDARD = LVCMOS33;

NET "hdr_sclk" LOC = P84;
NET "hdr_sclk" IOSTANDARD = LVCMOS33;

NET "hdr_spare" LOC = P87;
NET "hdr_spare" IOSTANDARD = LVCMOS33;

#gpio_1 gnd
#gpio_2 3.3v
#gpio_3 p137
#gpio_4 p135
#gpio_5 p132
#gpio_6 p130
#gpio_7 p129
#gpio_8 p127
#gpio_9 p128
#gpio_10 p123

NET "gpio[0]" LOC = P137;
NET "gpio[0]" IOSTANDARD = LVCMOS33;

NET "gpio[1]" LOC = P135;
NET "gpio[1]" IOSTANDARD = LVCMOS33;

NET "gpio[2]" LOC = P132;
NET "gpio[2]" IOSTANDARD = LVCMOS33;

NET "gpio[3]" LOC = P130;
NET "gpio[3]" IOSTANDARD = LVCMOS33;

NET "gpio[4]" LOC = P129;
NET "gpio[4]" IOSTANDARD = LVCMOS33;

NET "gpio[5]" LOC = P127;
NET "gpio[5]" IOSTANDARD = LVCMOS33;

NET "gpio[6]" LOC = P128;
NET "gpio[6]" IOSTANDARD = LVCMOS33;

NET "gpio[7]" LOC = P123;
NET "gpio[7]" IOSTANDARD = LVCMOS33;

#joy0fire1 p116
#joy0fire2 p119
#joy0left  p113
#joy0right p112
#joy0up	   p122
#joy0down  p118

NET "joy0[0]" LOC = P116;
NET "joy0[0]" IOSTANDARD = LVCMOS33;

NET "joy0[1]" LOC = P119;
NET "joy0[1]" IOSTANDARD = LVCMOS33;

NET "joy0[2]" LOC = P113;
NET "joy0[2]" IOSTANDARD = LVCMOS33;

NET "joy0[3]" LOC = P112;
NET "joy0[3]" IOSTANDARD = LVCMOS33;

NET "joy0[4]" LOC = P122;
NET "joy0[4]" IOSTANDARD = LVCMOS33;

NET "joy0[5]" LOC = P118;
NET "joy0[5]" IOSTANDARD = LVCMOS33;

#joy1fire1 p104
#joy1fire2 p107
#joy1left  p103
#joy1right p102
#joy1up	   p108
#joy1down  p105

NET "joy1[0]" LOC = P104;
NET "joy1[0]" IOSTANDARD = LVCMOS33;

NET "joy1[1]" LOC = P107;
NET "joy1[1]" IOSTANDARD = LVCMOS33;

NET "joy1[2]" LOC = P103;
NET "joy1[2]" IOSTANDARD = LVCMOS33;

NET "joy1[3]" LOC = P102;
NET "joy1[3]" IOSTANDARD = LVCMOS33;

NET "joy1[4]" LOC = P108;
NET "joy1[4]" IOSTANDARD = LVCMOS33;

NET "joy1[5]" LOC = P105;
NET "joy1[5]" IOSTANDARD = LVCMOS33;

#sram pins
NET "SRAM_A[0]" LOC = "P24" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[1]" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[2]" LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[3]" LOC = "P20" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[4]" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[5]" LOC = "P17" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[6]" LOC = "P15" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[7]" LOC = "P14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[8]" LOC = "P4" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[9]" LOC = "P2" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[10]" LOC = "P35" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[11]" LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[12]" LOC = "P13" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[13]" LOC = "P5" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[14]" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[15]" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[16]" LOC = "P11" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[17]" LOC = "P7" | IOSTANDARD = LVCMOS33;
NET "SRAM_A[18]" LOC = "P10" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[0]" LOC = "P25" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[1]" LOC = "P26" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[2]" LOC = "P27" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[3]" LOC = "P28" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[4]" LOC = "P30" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[5]" LOC = "P31" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[6]" LOC = "P32" | IOSTANDARD = LVCMOS33;
NET "SRAM_D[7]" LOC = "P33" | IOSTANDARD = LVCMOS33;
NET "SRAM_OE" LOC = "P36" | IOSTANDARD = LVCMOS33;
NET "SRAM_WE" LOC = "P6" | IOSTANDARD = LVCMOS33;



