build/
*.log
*.dat
*.pdb
*.htm
*.areasrr
*.fse
*.map
*.sap
*.so
*.srd
*.srl
*.srm
*.srr
*.srs
*.tlg
*.szr
synthesis/scratchproject.prs
synthesis/.recordref
synthesis/syntmp
constraint/data
*.depends
*.tmp
simulation/modelsim.ini.sav
