codegen/*.scr

tcl_stacktrace.txt
image/.dummy
*.ide_des
*.orig
*.rej
.*.swp
.*.swo
*~
build/
*.srec
*.log
*.dat
*.pdb
*.htm
*.areasrr
*.fse
*.map
*.sap
*.so
*.srd
*.srl
*.srm
*.srr
*.srs
*.tlg
*.szr
synthesis/scratchproject.prs
synthesis/.recordref
synthesis/syntmp
constraint/data
*.depends
*.tmp
simulation/modelsim.ini.sav
designer/impl1/*.tcl
designer/impl1/*.adb

#       sim.tcl
simulation/presynth/
simulation/vsim.wlf
simulation/work/
transcript
vsim.wlf
work/

