# SYSTEM
#

# this is temporary clock... broken the real one :(
#NET "CLK48"		LOC = "P53"	| IOSTANDARD = LVCMOS33;
NET "CLK_48"		LOC = "P128"	| IOSTANDARD = LVCMOS33;
NET "CLK_48" TNM_NET = "CLK_48";
TIMESPEC "TS_CLK48" = PERIOD "CLK_48" 20.833ns HIGH 50%;

###########################################################################

# Keyboard shift regs
#
NET "JOY_IN_DATA"	LOC = "P46"	| IOSTANDARD = LVCMOS33;
NET "JOY_KEY_LATCH"	LOC = "P40"	| IOSTANDARD = LVCMOS33;
NET "JOY_KEY_CLK"	LOC = "P44"	| IOSTANDARD = LVCMOS33;
NET "KEY_OUT_DATA"	LOC = "P41"	| IOSTANDARD = LVCMOS33;

###########################################################################

# SCART
#
NET "SCART_CSYNC"	LOC = "P112"	| IOSTANDARD = LVCMOS33;
NET "SCART_R[1]"	LOC = "P77"	| IOSTANDARD = LVCMOS33;
NET "SCART_R[0]"	LOC = "P73"	| IOSTANDARD = LVCMOS33;
NET "SCART_G[1]"	LOC = "P78"	| IOSTANDARD = LVCMOS33;
NET "SCART_G[0]"	LOC = "P74"	| IOSTANDARD = LVCMOS33;
NET "SCART_B[1]"	LOC = "P79"	| IOSTANDARD = LVCMOS33;
NET "SCART_B[0]"	LOC = "P76"	| IOSTANDARD = LVCMOS33;
NET "SCART_AUDIO_LEFT"	LOC = "P80"	| IOSTANDARD = LVCMOS33;
NET "SCART_AUDIO_RIGHT"	LOC = "P82"	| IOSTANDARD = LVCMOS33;

###########################################################################

# HDMI
#
#NET "HDMI_DATA[11]"	LOC = "P108"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[10]"	LOC = "P107"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[9]"	LOC = "P105"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[8]"	LOC = "P104"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[7]"	LOC = "P103"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[6]"	LOC = "P102"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[5]"	LOC = "P99"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[4]"	LOC = "P98"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[3]"	LOC = "P97"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[2]"	LOC = "P96"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[1]"	LOC = "P95"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_DATA[0]"	LOC = "P93"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_IDCK"		LOC = "P100"	| IOSTANDARD = LVCMOS33;

#NET "HDMI_TFP_SDA"	LOC = "P92"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "HDMI_TFP_SCL"	LOC = "P90"	| IOSTANDARD = LVCMOS33 | PULLUP;

#NET "HDMI_DE"		LOC = "P89"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_HSYNC"	LOC = "P87"	| IOSTANDARD = LVCMOS33;
#NET "HDMI_VSYNC"	LOC = "P86"	| IOSTANDARD = LVCMOS33;

#NET "HDMI_SDA"		LOC = "P84"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "HDMI_SCL"		LOC = "P83"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "HDMI_CEC"		LOC = "P85"	| IOSTANDARD = LVCMOS33 | PULLUP;

###########################################################################

# SRAM
#
NET "SRAM_ADDRESS[0]"	LOC = "P24"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[1]"	LOC = "P23"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[2]"	LOC = "P21"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[3]"	LOC = "P20"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[4]"	LOC = "P18"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[5]"	LOC = "P17"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[6]"	LOC = "P15"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[7]"	LOC = "P14"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[8]"	LOC = "P4"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[9]"	LOC = "P2"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[10]"	LOC = "P35"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[11]"	LOC = "P1"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[12]"	LOC = "P13"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[13]"	LOC = "P5"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[14]"	LOC = "P12"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[15]"	LOC = "P8"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[16]"	LOC = "P11"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[17]"	LOC = "P7"	| IOSTANDARD = LVCMOS33;
NET "SRAM_ADDRESS[18]"	LOC = "P10"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[0]"	LOC = "P25"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[1]"	LOC = "P26"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[2]"	LOC = "P27"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[3]"	LOC = "P28"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[4]"	LOC = "P30"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[5]"	LOC = "P31"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[6]"	LOC = "P32"	| IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[7]"	LOC = "P33"	| IOSTANDARD = LVCMOS33;
NET "SRAM_OE"		LOC = "P36"	| IOSTANDARD = LVCMOS33;
NET "SRAM_WE"		LOC = "P6"	| IOSTANDARD = LVCMOS33;

###########################################################################

# TAPE / KEYBOARD / JOYSTICK
#
#NET "CASIN"		LOC = "P131"	| IOSTANDARD = LVCMOS33;

#NET "PS2_CLOCK"		LOC = "P118"	| IOSTANDARD = LVCMOS33;
#NET "PS2_DATA"		LOC = "P113"	| IOSTANDARD = LVCMOS33;

###########################################################################

# FLASH
#
#NET "FL_DO"	LOC = "P63"	| IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "FL_SEL"	LOC = "P68"	| IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "FL_DI"	LOC = "P69"	| IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "FL_SCLK"	LOC = "P70"	| IOSTANDARD = LVCMOS33 | SLEW = FAST;

###########################################################################

# EXPANSION
#

#NET "GPIO0"	LOC = "P60"	| IOSTANDARD = LVCMOS33;
#NET "GPIO1"	LOC = "P59"	| IOSTANDARD = LVCMOS33;
#NET "GPIO2"	LOC = "P57"	| IOSTANDARD = LVCMOS33;
#NET "GPIO3"	LOC = "P56"	| IOSTANDARD = LVCMOS33;
#NET "GPIO4"	LOC = "P55"	| IOSTANDARD = LVCMOS33;
#NET "GPIO5"	LOC = "P53"	| IOSTANDARD = LVCMOS33;
#NET "GPIO6"	LOC = "P52"	| IOSTANDARD = LVCMOS33;
#NET "GPIO7"	LOC = "P51"	| IOSTANDARD = LVCMOS33;
#NET "GPIO8"	LOC = "P50"	| IOSTANDARD = LVCMOS33;
#NET "GPIO9"	LOC = "P47"	| IOSTANDARD = LVCMOS33;

#NET "PC2"		LOC = "P98"	| IOSTANDARD = LVCMOS33;
#NET "PC4"		LOC = "P99"	| IOSTANDARD = LVCMOS33;
#NET "PC5"		LOC = "P125"	| IOSTANDARD = LVCMOS33;

#NET "AVR_SS"		LOC = "P132"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "AVR_SCLK"		LOC = "P130"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "AVR_MOSI"		LOC = "P129"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "AVR_MISO"		LOC = "P127"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PB4"		LOC = "P125"	| IOSTANDARD = LVCMOS33;
#NET "PB5"		LOC = "P124"	| IOSTANDARD = LVCMOS33;
#NET "PB6"		LOC = "P123"	| IOSTANDARD = LVCMOS33;
#NET "PB7"		LOC = "P122"	| IOSTANDARD = LVCMOS33;

#NET "SD_CLK"		LOC = "P140"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "SD_CS"		LOC = "P135"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "SD_DI"		LOC = "P137"	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "SD_DO"		LOC = "P141"	| IOSTANDARD = LVCMOS33 | PULLUP;
##NET "SD_SPARE"		LOC = "P131"	| IOSTANDARD = LVCMOS33;

#NET "TXD"		LOC = "P116"	| IOSTANDARD = LVCMOS33;
#NET "RXD"		LOC = "P119"	| IOSTANDARD = LVCMOS33;

