# copy this file to /etc/udev/rules.d/99-cpcfpga.rules
#
# information determined from:
# 	udevadm info -a -p `udevadm info -q path -n /dev/ttyACM0`

ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="27dd", ATTRS{serial}=="cpcfpga.com:cpc2012:*", MODE="0666", OWNER="ralf", SYMLINK="cpc2012"
